main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius:17px;
  box-shadow: 12px 7px 6px 0px rgba(2, 17, 9, 0.47);
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  box-shadow: 12px 7px 6px 0px rgba(2, 17, 9, 0.47);
}

li{
  list-style-type: none;
}

footer{
  border: thin solid black;
  position:absolute; bottom: 0; left: 0; right: 0;
}

p,h1{
  color: orangered;
}


